
<div class="card center bg-transparent border-success" style="width:250px;text-align:center">
    For Technical Support:
    <i class="bi bi-envelope">techsupport@gmail.com</i>
    <i class="bi bi-phone">0123456789</i>
</div>
