@model Restaurant

<h1 class="alert alert-success text-center">Edit @Model.Name</h1>

<div class="row">
    <form class="col-4" method="post" asp-controller="Restaurants" asp-action="EditCurrent" enctype="multipart/form-data">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="ImagePath" />

        <div>
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Category"></label>
            <input type="text" asp-for="Category" class="form-control" />
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="AnnualBudget"></label>
            <input type="number" asp-for="AnnualBudget" class="form-control" />
            <span asp-validation-for="AnnualBudget" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="StartDate"></label>
            <input asp-for="StartDate" class="form-control" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="IsActive"></label>
            <input asp-for="IsActive" />
        </div>

        <div>
            <label asp-for="ImagePath"></label>
            <input type="file" name="imageFormFile" id="imageFormFile" accept=".png,.jpg" class="form-control" onchange="SetImgSrc()" />
        </div>

        <button type="submit" class="btn btn-primary mt-2">Edit</button>

    </form>

    <img src="@Model.ImagePath" id="restImage" class="col-4 card" style="object-fit:contain" />

</div>

<a asp-controller="Restaurants" asp-action="GetIndexView">Back To List</a>

@section Scripts{
    <script>
        function SetImgSrc() {
            // var imageFormFileFirstFile = document.getElementById("imageFormFile").files[0];
            // var imageFormFileUrl = window.URL.createObjectURL(imageFormFileFirstFile);
            // document.getElementById("restImage").src = imageFormFileUrl;
            document.getElementById("restImage").src = window.URL.createObjectURL(document.getElementById("imageFormFile").files[0]);
        }
    </script>
}